@tailwind base;
@tailwind components;
@tailwind utilities;

.one-edge-shadow {
  -webkit-box-shadow: 0 6px 8px -8px rgba(0, 0, 0, 0.342);
     -moz-box-shadow: 0 6px 8px -8px rgba(0, 0, 0, 0.342);
          box-shadow: 0 6px 8px -8px rgba(0, 0, 0, 0.342);
}